@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fce8b1;
}
.heading{
  margin: 0;
  width: 100%;
  height: 6rem;
  display: grid;
  grid-template-columns: 6rem 1fr;
  grid-template-rows: 4rem 2rem;
  background-color: darksalmon;
}
.heading > *, .heading>*>span {
  border: solid none 0.05em;
}
.heading .logo{
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: chocolate;
}
.heading .logo img {
  height: 100%;
  aspect-ratio: 1;
}
.heading .title,
.heading .subtitle{
  padding: 0.5rem;
}
.heading .title span,
.heading .subtitle span{
  vertical-align: middle;

}
.heading .title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-size: 2rem;
  line-height: 2.2rem;
}
.heading .subtitle {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  line-height: 1.05rem;
}
.heading .subtitle span:first-child{
  margin-left: 0;
}
.heading .subtitle span{
  margin-left: 5rem;
}
.content {
  display: flex;
  justify-content: center;
  max-width: 90%;
  min-width: 70%;
  margin: 0 auto;
  min-height: calc(100% - 6rem);
}
.content > div {
  width: 50%;
  padding: 1rem;
  border: solid none 0.05em;
}
#form > * {
  margin-bottom: 1rem;
}
#form > * :last-child{
  margin-bottom: 0;
}
#output{
  overflow-y: auto;
}
.legend{
  display: none;
}